body {
  padding: 0;
  margin: 0;
  height: 50rem;
  width: 100%;
  background-color: #e7e7e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.system-bar {
  height: 5.625rem;
  display: flex;
  background-color: #00B0C2;
}
.system-bar .system-mark {
  flex-grow: 1;
  height: inherit;
  min-width: 37.5rem;
}
.system-bar .system-mark a {
  float: left;
  display: inline-block;
  margin: 0.625rem 1.25rem 0 3.125rem;
}
.system-bar .system-mark a img {
  height: 4.375rem;
  width: 4.375rem;
}
.system-bar .system-mark p {
  float: left;
  margin: 0;
  height: 5.625rem;
  line-height: 5.625rem;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.0625rem;
  color: #ffffff;
}
.system-bar .system-icon {
  flex-grow: 0;
  flex-shrink: 0;
  height: inherit;
  width: 21.875rem;
  background-color: #00B0C2;
  margin-left: 40.625rem;
}
.system-bar .system-icon a {
  display: inline-block;
  margin: 0.625rem 1.25rem 0 0.625rem;
}
.system-bar .system-icon a img {
  height: 3.75rem;
  width: 3.75rem;
}
.user-bar {
  height: 1.875rem;
  width: inherit;
  background-color: #D9A868;
  display: flex;
}
.user-bar .user-identity {
  flex-grow: 1;
  height: inherit;
  min-width: 37.5rem;
}
.user-bar .user-identity p {
  float: left;
  margin: 0;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: #ffffff;
}
.user-bar .user-identity p:first-child {
  margin: 0 0 0 2.8125rem;
}
.user-bar .user-identity a {
  float: left;
  margin: 0.1875rem 0.625rem 0 2.5rem;
}
.user-bar .user-identity a img {
  height: 1.5625rem;
  width: 1.5625rem;
}
.user-bar .user-search {
  flex-grow: 0;
  flex-shrink: 0;
  height: inherit;
  width: 25rem;
  margin-left: 37.5rem;
  background-color: #D9A868;
}
.user-bar .user-search label {
  float: left;
  display: inline-block;
  width: 4.6875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: #ffffff;
}
.user-bar .user-search .input {
  float: left;
  width: 9.375rem;
  height: 1.375rem;
  outline: none;
  border-radius: 0.1875rem;
  border: solid 0.0625rem #e0e0e0;
  color: #333;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: 0.125rem 0.625rem 0 0;
}
.user-bar .user-search .btn {
  width: 3.125rem;
  height: 1.5625rem;
  border-radius: 0.1875rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  font-size: 0.75rem;
  margin-top: 0.125rem;
  outline: none;
  cursor: pointer;
  background-color: #CCCCCC;
  color: #fff;
}
.user-bar .user-search .btn:active {
  background-color: #BDBDBD;
}
.main {
  height: 50rem;
  display: flex;
  padding: 0.9375rem;
}
.main .sidebar {
  height: inherit;
  width: 14.375rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.9375rem;
  border-radius: 0.4375rem;
  background-color: #404040;
}
.main .sidebar .sidebar-title {
  height: 3.75rem;
  width: inherit;
  border-bottom: solid 0.0625rem #1ABC9C;
}
.main .sidebar .sidebar-title img {
  float: left;
  height: 1.25rem;
  width: 1.25rem;
  margin: 1.25rem 0.9375rem 0.625rem 1.875rem;
}
.main .sidebar .sidebar-title a {
  float: left;
  font-size: 1.25rem;
  font-weight: 900;
  color: #ffffff;
  line-height: 3.75rem;
  letter-spacing: 0.0625rem;
}
.main .sidebar .sidebar-content {
  width: inherit;
}
.main .sidebar .sidebar-content .nav {
  margin-top: 0.625rem;
  padding: 0 0.3125rem;
  list-style: none;
}
.main .sidebar .sidebar-content .nav li {
  background-color: #333;
}
.main .sidebar .sidebar-content .nav li:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
}
.main .sidebar .sidebar-content .nav li:last-of-type {
  border-radius: 0 0 0.625rem 0.625rem;
}
.main .sidebar .sidebar-content .nav li:not(:last-of-type) {
  border-bottom: 0.0625rem dotted #1abc9c;
}
.main .sidebar .sidebar-content .nav li a {
  height: 3.4375rem;
  line-height: 3.4375rem;
  padding-left: 3.4375rem;
  font-family: Lobster;
  font-size: 1.125rem;
  font-weight: normal;
  letter-spacing: 0.0625rem;
  color: #1abc9c;
  display: block;
  text-decoration: none;
  position: relative;
}
.main .sidebar .sidebar-content .nav li a:hover {
  color: #4afcdc;
}
.main .sidebar .sidebar-content .nav li a img {
  position: absolute;
  top: 1.0625rem;
  left: 1.25rem;
  height: 1.5625rem;
  width: 1.5625rem;
}
.main .sidebar .sidebar-content .nav li ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.main .sidebar .sidebar-content .nav li ul li {
  margin: 0;
  padding: 0;
  clear: both;
}
.main .sidebar .sidebar-content .nav li ul li:not(:last-of-type) {
  border-bottom: 0.0625rem dotted #B94152;
}
.main .sidebar .sidebar-content .nav li ul li a {
  height: 2.6875rem;
  line-height: 2.6875rem;
  padding: 0.3125rem 1.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  color: #333;
  background-color: #1abc9c;
  font-weight: normal;
}
.main .sidebar .sidebar-content .nav li ul li a:hover {
  background-color: #09ab8b;
}
.main .sidebar .sidebar-content .nav li ul li ul li {
  margin: 0;
  padding: 0;
  clear: both;
}
.main .sidebar .sidebar-content .nav li ul li ul li:not(:last-of-type) {
  border-bottom: 0.0625rem dotted #8A4300;
}
.main .sidebar .sidebar-content .nav li ul li ul li a {
  height: 2.0625rem;
  line-height: 2.0625rem;
  padding: 0.3125rem 2.1875rem;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: #ddd;
  background-color: #b94152;
  font-weight: normal;
}
.main .sidebar .sidebar-content .nav li ul li ul li a:hover {
  background-color: #a93142;
}
.main .sidebar .main-container {
  height: inherit;
  flex-grow: 1;
  min-width: 62.5rem;
  background-color: #FFFFFF;
}
.main .sidebar .main-container .test {
  background-color: darkblue;
}
.main .sidebar .main-container .page {
  width: 56.25rem;
  height: 50rem;
}
/*# sourceMappingURL=index.css.map */
